body{
    margin: auto;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

.main-header{
    font-family: 'Architects Daughter', cursive !important;
}




.signup-form{
    width:40%;
    margin:auto;
}

.page-bar{
    background-color: #000000;
}